Repository swift-extras/swift-extras-base64: changes, and which Codecov flags are due for each by the changed paths.
All: base64, performance, unittests

.codecov.yml:

coverage:
  status:
    project:
      default: off
    base64:
      flags: base64
      target: 100%
    unittest:
      flags: unittest
    performance:
      flags: performance
flags:
  base64:  
    paths:
    - Sources/Base64
  performance:  
    paths:
    - Sources/PerformanceTest
  unittests:
    paths:
    - Tests/Base64Tests

Remove Base32Kit Target
  Package.swift
  Sources/Base64Kit/Alphabets.swift
  Sources/Base64Kit/Base32Kit.swift
  Sources/Base64Kit/Base64.swift
  Sources/Base64Kit/Errors.swift
  Sources/Base64Kit/Validation.swift
  Tests/Base64KitTests/Base32DecodingTests.swift
  Tests/Base64KitTests/Base32EncodingTests.swift
  Tests/Base64KitTests/ValidationTests.swift
Due: base64

Remove Unnecessary 'allTests' Variables
  Tests/Base64KitTests/Base32DecodingTests.swift
  Tests/Base64KitTests/Base32EncodingTests.swift
  Tests/Base64KitTests/ValidationTests.swift
Due: none

Rename Base32Kit to be in line with Base64Kit
  Sources/Base64Kit/Base32.swift
Due: base64

Faster encode and decode thanks to chromium algorithm
  Sources/Base64Kit/Base64.swift
  Sources/Base64Kit/Chromium.swift
  Sources/Base64KitPerformanceTest/main.swift
  Tests/Base64KitTests/ChromiumTests.swift
Due: base64

Move Tests to Subfolder
  Tests/Base64KitTests/Base64/DecodingTests.swift
  Tests/Base64KitTests/Base64/EncodingTests.swift
  Tests/Base64KitTests/Base64/IntegrationTests.swift
Due: none

Move Tests to Basen Subfolder (#18)
  Tests/Base64KitTests/Base64/DecodingTests.swift
  Tests/Base64KitTests/Base64/EncodingTests.swift
  Tests/Base64KitTests/Base64/IntegrationTests.swift
Due: none

Major Refactoring of API
  Sources/Base64Kit/Alphabets.swift
  Sources/Base64Kit/Base32.swift
  Sources/Base64Kit/DecodingError.swift
  Sources/Base64Kit/Validation.swift
  Tests/Base64KitTests/Base32DecodingTests.swift
  Tests/Base64KitTests/Base32EncodingTests.swift
  Tests/Base64KitTests/DecodingTests.swift
  Tests/Base64KitTests/EncodingTests.swift
  Tests/Base64KitTests/IntegrationTests.swift
  Tests/Base64KitTests/ValidationTests.swift
Due: base64

Remove 'Errors.swift'
  Sources/Base64Kit/Errors.swift
Due: base64

Remove 'Errors.swift'
  Sources/Base64Kit/Base32.swift
  Sources/Base64Kit/DecodingError.swift
  Tests/Base64KitTests/Base32DecodingTests.swift
Due: base64

Remove commented code
  Sources/Base64Kit/Base32.swift
Due: base64

Make 'Base32' struct public
  Sources/Base64Kit/Base32.swift
Due: base64

Tests run
  Sources/Base64Kit/Base64.swift
  Sources/Base64Kit/Chromium.swift
  Sources/Base64KitPerformanceTest/main.swift
  Tests/Base64KitTests/ChromiumTests.swift
Due: base64

Let tests pass
  .github/workflows/ci.yaml
  Sources/Base64Kit/Chromium.swift
Due: base64

More for base64
  Sources/Base64Kit/Chromium.swift
  Tests/Base64KitTests/ChromiumTests.swift
Due: base64

Cleanup
  .github/workflows/ci.yaml
  Sources/Base64Kit/Base64.swift
  Sources/Base64Kit/Chromium.swift
  Sources/Base64KitPerformanceTest/main.swift
  Tests/Base64KitTests/ChromiumTests.swift
  Tests/Base64KitTests/DecodingTests.swift
  Tests/Base64KitTests/EncodingTests.swift
  Tests/Base64KitTests/IntegrationTests.swift
Due: base64

test fix?
  .github/workflows/ci.yaml
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_decoding.swift
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_encoding.swift
  Sources/Base64Kit/Chromium.swift
Due: base64

ci
  .codecov.yml
  .github/workflows/ci.yaml
  scripts/validity.sh
Due: none

swiftformat
  .swiftformat
  IntegrationTests/allocation-counter-tests-framework/template/scaffolding.swift
  Sources/Base64Kit/Base64.swift
  Sources/Base64Kit/Chromium.swift
  Sources/Base64KitPerformanceTest/main.swift
  Tests/Base64KitTests/ChromiumTests.swift
  Tests/Base64KitTests/IntegrationTests.swift
Due: base64

dox
  README.md
Due: none

Better naming
  Sources/Base64Kit/Chromium.swift
  Sources/Base64KitPerformanceTest/main.swift
  Tests/Base64KitTests/ChromiumTests.swift
  Tests/Base64KitTests/IntegrationTests.swift
Due: base64

perf tests rename
  Package.swift
  Sources/PerformanceTest/main.swift
Due: performance

fixes
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_encoding.swift
  README.md
  Sources/Base64Kit/Base64.swift
  Sources/Base64Kit/Chromium.swift
Due: base64

Faster encoding and decoding thanks Chromium lookup tables (#19)
  .codecov.yml
  .github/workflows/ci.yaml
  .swiftformat
  IntegrationTests/allocation-counter-tests-framework/template/scaffolding.swift
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_decoding.swift
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_encoding.swift
  Package.swift
  README.md
  Sources/Base64Kit/Base64.swift
  Sources/Base64Kit/Chromium.swift
  Sources/Base64KitPerformanceTest/main.swift
  Sources/PerformanceTest/main.swift
  Tests/Base64KitTests/Base64/DecodingTests.swift
  Tests/Base64KitTests/Base64/EncodingTests.swift
  Tests/Base64KitTests/Base64/IntegrationTests.swift
  Tests/Base64KitTests/ChromiumTests.swift
  Tests/Base64KitTests/IntegrationTests.swift
  scripts/validity.sh
Due: base64, performance

CI main branch fixes
  .github/workflows/ci.yaml
  IntegrationTests/allocation-counter-tests-framework/run-allocation-counter.sh
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoHook/Package.swift
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoNotHook/Package.swift
Due: none

support more mac ci
  .github/workflows/ci.yaml
Due: none

Support more macOS in CI (#20)
  .github/workflows/ci.yaml
Due: none

Prepare Move to swift-extras
  IntegrationTests/tests_04_performance/test_01_resources/run-nio-alloc-counter-tests.sh
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_decoding.swift
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_encoding.swift
  Package.swift
  README.md
  Sources/ExtrasBase64/Base64.swift
  Sources/ExtrasBase64/Chromium.swift
  Sources/ExtrasBase64/DecodingError.swift
  Sources/PerformanceTest/main.swift
  Tests/ExtrasBase64Tests/ChromiumTests.swift
  Tests/ExtrasBase64Tests/IntegrationTests.swift
Due: performance

Fix CI
  .github/workflows/ci.yaml
  Sources/PerformanceTest/main.swift
Due: performance

Move to swift-extras (#21)
  .github/workflows/ci.yaml
  IntegrationTests/tests_04_performance/test_01_resources/run-nio-alloc-counter-tests.sh
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_decoding.swift
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_encoding.swift
  Package.swift
  README.md
  Sources/ExtrasBase64/Base64.swift
  Sources/ExtrasBase64/Chromium.swift
  Sources/ExtrasBase64/DecodingError.swift
  Sources/PerformanceTest/main.swift
  Tests/ExtrasBase64Tests/ChromiumTests.swift
  Tests/ExtrasBase64Tests/IntegrationTests.swift
Due: performance

Fixes #22
  Sources/ExtrasBase64/Chromium.swift
  Tests/ExtrasBase64Tests/ChromiumTests.swift
Due: none

Fixed whitespaces.
  Tests/ExtrasBase64Tests/ChromiumTests.swift
Due: none

Fixes decoding (#23)
  Sources/ExtrasBase64/Chromium.swift
  Tests/ExtrasBase64Tests/ChromiumTests.swift
Due: none

nest definition of DecodingError in Base64 enum
  Sources/ExtrasBase64/DecodingError.swift
  Tests/ExtrasBase64Tests/ChromiumTests.swift
Due: none

nest definition of DecodingError in Base64 enum (#25)
  Sources/ExtrasBase64/DecodingError.swift
  Tests/ExtrasBase64Tests/ChromiumTests.swift
Due: none

Fixed issue where decoding of empty bytes crashed.
  Sources/ExtrasBase64/Chromium.swift
  Tests/ExtrasBase64Tests/ChromiumTests.swift
Due: none

Added license notice.
  NOTICE
  Sources/ExtrasBase64/Chromium.swift
Due: none

Added license notice. (#28)
  NOTICE
  Sources/ExtrasBase64/Chromium.swift
Due: none

Fixed issue where decoding of empty bytes crashed. (#27)
  Sources/ExtrasBase64/Chromium.swift
  Tests/ExtrasBase64Tests/ChromiumTests.swift
Due: none

Add Base32 support
  Sources/ExtrasBase64/Base32.swift
  Tests/ExtrasBase64Tests/Base32Tests.swift
Due: none

Base32 integration tests
  IntegrationTests/tests_04_performance/test_01_resources/test_base32_decoding.swift
  IntegrationTests/tests_04_performance/test_01_resources/test_base32_encoding.swift
Due: none
