Repository swift-extras/swift-extras-base64: changes, and which Codecov flags are due for each by the changed paths.
All: base64, performance, unittests

.codecov.yml:

coverage:
  status:
    project:
      default: off
    base64:
      flags: base64
      target: 100%
    unittest:
      flags: unittest
    performance:
      flags: performance
flags:
  base64:  
    paths:
    - Sources/Base64
  performance:  
    paths:
    - Sources/PerformanceTest
  unittests:
    paths:
    - Tests/Base64Tests

Reimplemented encoding and implemented decoding (#1)
  .codecov.yml
  .github/workflows/ci.yaml
  Package.swift
  README.md
  Sources/Base64/Base64.swift
  Sources/Base64PerformanceTest/main.swift
  Tests/Base64Tests/DecodingTests.swift
  Tests/Base64Tests/EncodingTests.swift
  Tests/Base64Tests/IntegrationTests.swift
Due: base64, unittests

Updated README
  README.md
Due: none

Run performance against NIOWebsocket Base64
  Sources/Base64PerformanceTest/NIOWebsocket.swift
  Sources/Base64PerformanceTest/main.swift
Due: base64

Test encoding with switch instead of lookup table
  Sources/Base64/Base64.swift
  Tests/Base64Tests/EncodingTests.swift
Due: base64, unittests

updated based on @weissi’s code review.
  Sources/Base64/Base64.swift
Due: base64

Testing encoding with just 64 bytes.
  Sources/Base64PerformanceTest/main.swift
Due: base64

Renamed everything to Base64Kit.
  .github/workflows/ci.yaml
  Package.swift
  Sources/Base64Kit/Base64.swift
  Sources/Base64KitPerformanceTest/main.swift
  Tests/Base64KitTests/DecodingTests.swift
  Tests/Base64KitTests/EncodingTests.swift
  Tests/Base64KitTests/IntegrationTests.swift
Due: base64

Renamed everything to Base64Kit. (#7)
  .github/workflows/ci.yaml
  Package.swift
  Sources/Base64Kit/Base64.swift
  Sources/Base64KitPerformanceTest/main.swift
  Tests/Base64KitTests/DecodingTests.swift
  Tests/Base64KitTests/EncodingTests.swift
  Tests/Base64KitTests/IntegrationTests.swift
Due: base64

Updated the README.md with new name: swift-base64-kit
  README.md
Due: none

Easier to read lookup table for encoding using UInt8(ascii: "A")
  Sources/Base64Kit/Base64.swift
Due: base64

Tried using utf8view as lookup table
  Sources/Base64Kit/Base64.swift
Due: base64

Make alphabet a local var.
  Sources/Base64Kit/Base64.swift
  Tests/Base64KitTests/EncodingTests.swift
Due: base64

Easier to read lookup table for encoding using UInt8(ascii: "A") (#4)
  Sources/Base64Kit/Base64.swift
Due: base64

Create string with bytes instead of unsafe pointer.
  Sources/Base64Kit/Base64.swift
Due: base64

Create string with bytes instead of unsafe pointer. (#9)
  Sources/Base64Kit/Base64.swift
Due: base64

Fixes in README.md
  README.md
Due: none

Added reference to Swift-NIO.
  README.md
Due: none

Run CI against 5.2
  .github/workflows/ci.yaml
Due: none

Moved performance tests to different folder.
  Package.swift
  PerfTests/Package.resolved
  PerfTests/Package.swift
  PerfTests/Sources/Base64KitPerformanceTest/main.swift
  Sources/Base64KitPerformanceTest/main.swift
Due: base64

Copy if input is not an array
  Sources/Base64Kit/Base64.swift
Due: base64

Use Apple approved test format
  Sources/Base64Kit/Base64.swift
  Tests/Base64KitTests/DecodingTests.swift
  Tests/Base64KitTests/EncodingTests.swift
Due: base64

Use Apple approved test format (#11)
  Sources/Base64Kit/Base64.swift
  Tests/Base64KitTests/DecodingTests.swift
  Tests/Base64KitTests/EncodingTests.swift
Due: base64

Use swift 5.2 image for ci
  .github/workflows/ci.yaml
Due: none

Use swift 5.2 image for ci (#12)
  .github/workflows/ci.yaml
Due: none

Add Base32Kit
  .gitignore
  Package.swift
  Sources/Base32Kit/Alphabets.swift
  Sources/Base32Kit/Base32Kit.swift
  Sources/Base32Kit/Errors.swift
  Sources/Base32Kit/Validation.swift
  Tests/Base32KitTests/DecodingTests.swift
  Tests/Base32KitTests/EncodingTests.swift
  Tests/Base32KitTests/ValidationTests.swift
  Tests/Base32KitTests/XCTestManifests.swift
  Tests/LinuxMain.swift
Due: none

Switch to actions/checkout@v2
  .github/workflows/ci.yaml
Due: none

Change Docker Volume Mount
  .github/workflows/ci.yaml
Due: none

Remove Container Options
  .github/workflows/ci.yaml
Due: none

Change Codecov Action Version
  .github/workflows/ci.yaml
Due: none

Add 'curl' to build container
  .github/workflows/ci.yaml
Due: none

Use swiftformat
  .github/workflows/ci.yaml
  Package.swift
  Sources/Base64Kit/Base64.swift
  Sources/Base64KitPerformanceTest/main.swift
  Tests/Base64KitTests/DecodingTests.swift
  Tests/Base64KitTests/EncodingTests.swift
  Tests/Base64KitTests/IntegrationTests.swift
  scripts/sanity.sh
Due: base64

Use swiftformat (#14)
  .github/workflows/ci.yaml
  Package.swift
  Sources/Base64Kit/Base64.swift
  Sources/Base64KitPerformanceTest/main.swift
  Tests/Base64KitTests/DecodingTests.swift
  Tests/Base64KitTests/EncodingTests.swift
  Tests/Base64KitTests/IntegrationTests.swift
  scripts/sanity.sh
Due: base64

Preparing for base32
  Sources/Base64Kit/Base64.swift
  Sources/Base64Kit/DecodingError.swift
  Tests/Base64KitTests/DecodingTests.swift
Due: base64

Preparing for base32 (#15)
  Sources/Base64Kit/Base64.swift
  Sources/Base64Kit/DecodingError.swift
  Tests/Base64KitTests/DecodingTests.swift
Due: base64

Count mallocs.
  .github/workflows/ci.yaml
  IntegrationTests/allocation-counter-tests-framework/run-allocation-counter.sh
  IntegrationTests/allocation-counter-tests-framework/template/AtomicCounter/Package.swift
  IntegrationTests/allocation-counter-tests-framework/template/AtomicCounter/Sources/AtomicCounter/include/atomic-counter.h
  IntegrationTests/allocation-counter-tests-framework/template/AtomicCounter/Sources/AtomicCounter/src/atomic-counter.c
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoHook/Package.swift
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoHook/Sources/HookedFunctions/include/hooked-functions.h
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoHook/Sources/HookedFunctions/src/hooked-functions.c
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoNotHook/Package.swift
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoNotHook/Sources/HookedFunctions/include/hooked-functions.h
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoNotHook/Sources/HookedFunctions/src/hooked-functions.c
  IntegrationTests/allocation-counter-tests-framework/template/Sources/bootstrapDoHook/main.c
  IntegrationTests/allocation-counter-tests-framework/template/Sources/bootstrapDoNotHook/main.c
  IntegrationTests/allocation-counter-tests-framework/template/scaffolding.swift
  IntegrationTests/plugin_echo.sh
  IntegrationTests/plugin_junit_xml.sh
  IntegrationTests/run-single-test.sh
  IntegrationTests/run-tests.sh
  IntegrationTests/test_functions.sh
  IntegrationTests/tests_03_linker_things/defines.sh
  IntegrationTests/tests_03_linker_things/test_01_check_we_do_not_link_Foundation.sh
  IntegrationTests/tests_04_performance/defines.sh
  IntegrationTests/tests_04_performance/test_01_allocation_counts.sh
  IntegrationTests/tests_04_performance/test_01_resources/README.md
  IntegrationTests/tests_04_performance/test_01_resources/run-nio-alloc-counter-tests.sh
  IntegrationTests/tests_04_performance/test_01_resources/shared.swift
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_decoding.swift
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_encoding.swift
Due: none

Count mallocs. (#16)
  .github/workflows/ci.yaml
  IntegrationTests/allocation-counter-tests-framework/run-allocation-counter.sh
  IntegrationTests/allocation-counter-tests-framework/template/AtomicCounter/Package.swift
  IntegrationTests/allocation-counter-tests-framework/template/AtomicCounter/Sources/AtomicCounter/include/atomic-counter.h
  IntegrationTests/allocation-counter-tests-framework/template/AtomicCounter/Sources/AtomicCounter/src/atomic-counter.c
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoHook/Package.swift
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoHook/Sources/HookedFunctions/include/hooked-functions.h
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoHook/Sources/HookedFunctions/src/hooked-functions.c
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoNotHook/Package.swift
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoNotHook/Sources/HookedFunctions/include/hooked-functions.h
  IntegrationTests/allocation-counter-tests-framework/template/HookedFunctionsDoNotHook/Sources/HookedFunctions/src/hooked-functions.c
  IntegrationTests/allocation-counter-tests-framework/template/Sources/bootstrapDoHook/main.c
  IntegrationTests/allocation-counter-tests-framework/template/Sources/bootstrapDoNotHook/main.c
  IntegrationTests/allocation-counter-tests-framework/template/scaffolding.swift
  IntegrationTests/plugin_echo.sh
  IntegrationTests/plugin_junit_xml.sh
  IntegrationTests/run-single-test.sh
  IntegrationTests/run-tests.sh
  IntegrationTests/test_functions.sh
  IntegrationTests/tests_03_linker_things/defines.sh
  IntegrationTests/tests_03_linker_things/test_01_check_we_do_not_link_Foundation.sh
  IntegrationTests/tests_04_performance/defines.sh
  IntegrationTests/tests_04_performance/test_01_allocation_counts.sh
  IntegrationTests/tests_04_performance/test_01_resources/README.md
  IntegrationTests/tests_04_performance/test_01_resources/run-nio-alloc-counter-tests.sh
  IntegrationTests/tests_04_performance/test_01_resources/shared.swift
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_decoding.swift
  IntegrationTests/tests_04_performance/test_01_resources/test_base64_encoding.swift
Due: none

Faster encoding on Swift 5.3
  Sources/Base64Kit/Base64.swift
Due: base64

Apply 'swiftformat' formatting
  Sources/Base32Kit/Alphabets.swift
  Sources/Base32Kit/Base32Kit.swift
  Sources/Base32Kit/Errors.swift
  Sources/Base32Kit/Validation.swift
  Tests/Base32KitTests/DecodingTests.swift
  Tests/Base32KitTests/EncodingTests.swift
  Tests/Base32KitTests/ValidationTests.swift
  Tests/Base32KitTests/XCTestManifests.swift
Due: none

Clean LinuxMain.swift
  Tests/LinuxMain.swift
Due: none

Remove 'XCTestManifests.swift'
  Tests/Base32KitTests/XCTestManifests.swift
Due: none
